// app global css

@font-face {
   font-family: Metropolis;
   font-style: initial;
   font-weight: initial;
   src: url(font/Metropolis-Regular.ttf);
}

@font-face {
   font-family: Metropolis-thin;
   font-style: normal;
   font-weight: lighter;
   src: url(font/Metropolis-Thin.ttf);
}

body {
  font-family: Metropolis;
}

.q-tabs-head {
  background:none !important;
  color: #000;
}

.q-card {
  background: white;
}

.text-weight-thin {
  font-family: Metropolis-thin;
}
